extends ../layout/main

block variables 
  - let title = "GULP jQuery"


block content 
  p.text 1234567891111
  h1 GULP4
  +icon('home')
  +icon('home')
  +icon('instagram')
  +icon('instagram')
  +icon('facebook')
  +icon('facebook')

