html, body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

.images {
    padding: 0;
    margin: 0;
    display: flex;
    transition: all 1s ease;
}

.images li {
    list-style-type: none;
}

.gallery {
    overflow: hidden;
    width: 390px;
    transition: 1s ease;
    margin: 0 auto;
}

.carousel {
    position: relative;
    width: 390px;
    margin: 20px auto;
    padding: 10px 40px;
    background-color: grey;
    border-radius: 10px;
}

.carousel img {
    width: 130px;
    height: 130px;
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}