html, body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 5%;
    border: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto; 
}

p {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: rgb(41, 41, 41);
}

#par1 {
    background-color: rgb(61, 104, 105);
}

#par2 {
    background-color: rgb(0, 255, 234);
}

#par3 {
    background-color: rgb(111, 0, 255);
}

#par4 {
    background-color: rgb(255, 0, 43);
}

#par5 {
    background-color: rgb(3, 87, 35);
}

ul, li {
    margin: 20px 0;
    padding: 0; 
}

.menu__continer a, #button {
    color: rgb(255, 255, 255);
    background-color: rgb(70, 70, 122);
    border-radius: 5px;
    padding: 7px 20px;
}

#button:hover, .menu__continer a:hover {
    cursor: pointer;
    background-color: rgb(104, 104, 177);
}

#menu {
    margin: 0 auto;
    width: 800px;
}
.menu__continer {
    display: flex;
    justify-content: space-between;
}

.menu__continer  li {
    list-style-type: none;
}

.menu__continer a {
text-decoration: none;
font-size: 14px;
}

.menu__continer a:hover {
    text-decoration: underline;
}