@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        font-weight: $weight;
        font-style: $style;
        src: url(#{$path}.woff) format("woff"), url(#{$path}.woff2) format("woff2"),
            url(#{$path}.ttf) format("truetype");
    }
}

@include font-face("Open Sans", "../fonts/opensans/opensanslight/opensanslight", 300, "normal");
@include font-face("Open Sans", "../fonts/opensans/opensansbold/opensansbold", 600, "normal");
@include font-face("Open Sans", "../fonts/opensans/opensansregular/opensansregular", 400, "normal");
@include font-face("Open Sans", "../fonts/opensans/opensansitalic/opensansitalic", 400, "normal");
